<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-card-4">
<div class="w3-container w3-teal">
  <h1>Formulaire anonyme</h1>
</div>
<form class="w3-container" id="questions">
  
  <label class="labelQst">[titre] : </label>
<select id="selectId" class="mainSelect">
  <option value="0">Pas dutout</option>
</select>
  
</form>
  
<div id="res">
  <b>Votre résultat : </b><b id="result">0pts</b></div>
<!--<button class="w3-btn w3-blue-grey" onclick="onSubmit()" id="submit">Submit</button>-->
  </div>

<script>
let $ = jQuery;
let options = [
{val:null, text:""},
  {val:0, text:"Pas du tout"},
  {val:1, text:"Un peu"},
  {val:2, text:"Modérément"},
  {val:3, text:"Beaucoup"},
  {val:4, text:"Énormément"}
];

let questions = [
  {id:"qst"+0,
   titre:"Humeur anxieuse", 
  ex:"Inquiétudes constantes, angoisse, appréhension, irritabilité"},
    {id:"qst"+1,
   titre:"Tension nerveuse", 
  ex:"Tremblement, envie de pleurer, impatience, incapacité de se détendre"},
    {id:"qst"+2,
   titre:"Peurs", 
  ex:"D’être seul, des étrangers, de l’obscurité, des foules"},
  
  {id:"qst"+3,
   titre:"Insomnie", 
  ex:"Fragilité du sommeil, réveils fréquents, cauchemars"},
    {id:"qst"+4,
   titre:"Fonctions intellectuelles", 
  ex:"Difficulté à décider, à se concentrer, à réfléchir, troubles de la mémoire"},
    {id:"qst"+5,
   titre:"Humeur dépressive", 
  ex:"Découragement, tristesse, manque d’intérêt constant"},
    {id:"qst"+6,
   titre:"Symptômes musculaires", 
  ex:"Douleurs musculaires, courbatures, crispation, voix tremblante"},
    {id:"qst"+7,
   titre:"Symptômes sensoriels", 
  ex:"Acouphène, vision trouble, démangeaisons de la peau"},
    {id:"qst"+8,
   titre:"Symptômes cardiovasculaires", 
  ex:"Augmentation du rythme cardiaque, palpitation, douleurs thoraciques"},
    {id:"qst"+9,
   titre:"Symptômes respiratoires", 
  ex:"Essoufflement, sensation d’étouffement, suffocation"},
    {id:"qst"+10,
   titre:"Symptômes gastro-intestinaux", 
  ex:"Mauvaise digestion, brûlures d’estomac, constipation"}
  ,
    {id:"qst"+11,
   titre:"Symptômes génito-urinaires", 
  ex:"Menstruation trouble, frigidité, impuissance, perte de libido"} ,
    {id:"qst"+12,
   titre:"Symptômes neuro-végétatifs", 
  ex:"Sécheresse de la bouche, pâleur, transpiration"} ,
    {id:"qst"+13,
   titre:"Comportement pendant le quiz", 
  ex:"Agitation, respiration rapide, tremblements des mains"}
];

$("#questions").html(questions.map(createQuestion).join("<br/>"));


function createQuestion(qst){
 // return qst.titre;
  return '<div class="qst"><label class="w3-text-teal">'+qst.titre+' : </label>' +
  '<select class="w3-select w3-border" onChange="onChange()" id="'+qst.id+'">' + 
options.map(o=>'<option value="'+o.val+'">'+o.text+'</option>').join("") + 
'</select><br/>Example : <i>'+qst.ex+"</i></div>";
}

function onChange(){
  console.log("onChange");
  let rep = $("#questions select").toArray();
  let res = rep.reduce(
(a,b)=>a+(!isNaN(b.value)?parseInt(b.value):0),0);
  console.log(res);
  $("#result").html(res+"pts ("+pointsToRank(res)+")");
$("#result").attr("class","test");
$("#result").attr("class", rep.some(r=>isNaN(r.value)) ? "incomplete" : "complete");

$("#result").addClass("test3");
}

function pointsToRank(pts){
if(isNaN(pts))return 'anxiété "normale"'
if(pts<12)return 'anxiété "normale"';
if(pts < 20) return 'anxiété légère';
if(pts < 25) return 'anxiété modérée';
return 'anxiété sévère';
}

function onSubmit(){
  console.log("Submit");
  alert("Submit : " + $("#questions select").toArray().map(s=>s.value).join(", "));
}
  </script>