<script>

	const TEST_LIVE = false;
	const RIEN_CACHER = false;

	console.log(PRIX_DINNER, PRIX_SOUPERS);

	const arrondiPrix = (prix) => (Math.round(100 * prix) / 100);
	const peuxSouper = () => (!SOUPER_COMPLET && JOURS_OUVERTS[((new Date()).getDay() + 6) % 7]);
	const peuxDinner = () => (!DINNER_COMPLET);

	const cacherField = (elem, cls = "field") => {

		let toHide = elem;
		let count = 0;
		while (count++ < 4 && !toHide.hasClass(cls)) {
			toHide = toHide.parent();
		}
		if (toHide.hasClass(cls))
			toHide.hide();

	}
	const showField = (elem, cls = "field") => {

		let toHide = elem;
		let count = 0;
		while (count++ < 4 && !toHide.hasClass(cls)) {
			toHide = toHide.parent();
		}
		if (toHide.hasClass(cls))
			toHide.show();

	}

	const isEmail = (txt) => /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/.test(txt);

	let nom = jQuery("#nom");
	let email = jQuery("#email");
	let dinnerSouper = jQuery("#dinner_ou_souper_1");
	let nbDinner = jQuery("#qte_diner");
	let date = jQuery("#date_du_souper");
	let adresse = jQuery("#adresse");
	let tel = jQuery("#tel");
	let message = jQuery("#message");

	let nbSouper1 = jQuery("#choix_de_souper_1");
	let nbSouper2 = jQuery("#choix_de_souper_2");
	let nbSouper3 = jQuery("#choix_de_souper_3");
	let ddSoupers = [1, 2, 3, 4, 5, 6].map((p, i) => jQuery("#choix_de_souper_" + (i + 1)));
	let ddSoupersActive = PRIX_SOUPERS.map((p, i) => jQuery("#choix_de_souper_" + (i + 1)));
	let btn4 = jQuery("#button4")[0];

	if (!peuxSouper()) {
		jQuery("#dinner_ou_souper_2")[0].disabled = true;
	}
	else {
		jQuery("#sppb-addon-wrapper-1588693127981").hide();
	}

	if (!peuxDinner()) {
		jQuery("#dinner_ou_souper_1")[0].disabled = true;
	}
	else {
		jQuery("#section-id-1589135643301").hide();
	}

	if (!peuxDinner() && !peuxSouper()) {
		jQuery("#section-id-1588693127976").hide();
		//section-id-1589135643301
		//section-id-1589135643276
	}


	ddSoupers.forEach(dds => {
		try {
			let toHide = dds;
			let count = 0;
			while (count++ < 4 && !dds.hasClass("field")) {
				dds = dds.parent();
			}
			if (dds && dds.hasClass("field")) dds.hide();
		} catch (ex) { }
	});


	const insidePrice = (txt, tps, tvq) => `<b>Prix total : </b>${txt.toFixed(2)}$ + TPS:${tps.toFixed(2)}$ + TVQ:${tvq.toFixed(2)}$ = ${(txt + tps + tvq).toFixed(2)}$`;
	const makePrice = (txt) => `<p id="total-price" class="custom-msg" style="color: #3d01dc; display: block; font-size:1.5em;">${insidePrice(txt, txt * TAXES.tps, txt * TAXES.tvq)}</p>`;
	const makeErr = (txt) => `<small class="custom-error" style="color: red; display: block;">${txt}</small>`;

	const isDinner = () => dinnerSouper[0].checked;

	const changeRepas = () => {
		console.log(dinnerSouper);
		if (isDinner()) {
			//if(!RIEN_CACHER ){

			ddSoupers.forEach(dds => {
				cacherField(dds);
			});

			/*nbSouper1.parent().parent().hide();
			nbSouper2.parent().parent().hide();
			nbSouper3.parent().parent().hide();*/
			//adresse.hide();

			showField(date);//.parent().show();
			showField(nbDinner);//.parent().parent().show();
			//adresse.show();
		} else {
			ddSoupersActive.forEach(dds => showField(dds));//.parent().parent().show());
			/*nbSouper1.parent().parent().show();
			//nbSouper1.parent().show();
			//nbSouper2.parent().show();
			nbSouper2.parent().parent().show();
			nbSouper3.parent().parent().show();*/
			//adresse.show();

			//if(!RIEN_CACHER){
			cacherField(date);//.parent().hide();
			cacherField(nbDinner);//.parent().parent().hide();

			nbDinner.val(0);
			date.val("");
			//adresse.hide();
		}

		updatePrice();
	}

	setTimeout(changeRepas, 1);
	//changeRepas();
	dinnerSouper.on("change", changeRepas);
	jQuery("#dinner_ou_souper_2").on("change", changeRepas);

	nbDinner.on("change", updatePrice);
	ddSoupersActive.forEach(dds => dds.on("change", updatePrice));
	/*nbSouper1.on("change", updatePrice);
	nbSouper2.on("change", updatePrice);
	nbSouper3.on("change", updatePrice);*/

	let lastDate = date.val();
	setInterval(() => {
		if (date.val() != lastDate) {
			console.log("New Date");
			updatePrice();
			lastDate = date.val();
		} else {
			//console.log("Same date : " , date.val(), lastDate);
		}
		checkErrors();
	}, 1000 / 5);

	function updatePrice() {

		let price = getPrice();

		if (jQuery("#total-price")[0]) {
			jQuery("#total-price").html(insidePrice(price, (price * TAXES.tps), (price * TAXES.tvq)));
		} else {
			jQuery("form#load-form").append(makePrice(price, (price * TAXES.tps), (price * TAXES.tvq)));
		}

		checkErrors();
	}

	function getPrice() {
		let price = 0;

		if (isDinner()) {
			price += parseInt(nbDinner.val()) * (TEST_LIVE ? 0.25 : PRIX_DINNER);
		} else {
			ddSoupersActive
				.forEach((prix, i) => {
					price += (parseInt(prix.val()) || 0) * (TEST_LIVE ? 0.25 : PRIX_SOUPERS[i]);
				});
			/*price += parseInt(nbSouper1.val()) * PRIX_SOUPER1;
			price += parseInt(nbSouper2.val()) * PRIX_SOUPER2;
			price += parseInt(nbSouper3.val()) * PRIX_SOUPER3;*/
		}

		price = arrondiPrix(price);//Math.round(price * 100) / 100
		return price;
	}

	function showError(divId, msg, parentDepth = 2) {
		//console.error("TODO : ",divId, msg);
		let newErrText = makeErr(msg);
		let parent = divId;
		while (parentDepth-- > 0) {
			parent = parent.parent();
		}
		if (parent.find("small")[0]) {
			parent.find("small")[0] = newErrText;
			parent.find("small").show();
		} else {
			parent.append(newErrText);
		}
	}

	function parseMyDate(myDate) {
		try {
			let splitted = myDate.split("/")
			return new Date(parseInt(splitted[2], 10), parseInt(splitted[1], 10) - 1, parseInt(splitted[0], 10) - 1, 12);
		} catch (ex) {
			return false;
		}
	}

	function checkErrors() {

		email.val(email.val().trim());

		jQuery("small").hide();

		let errCount = 0;
		if (isDinner()) {

			let parsedDate = parseMyDate(date.val());
			//console.log("Checking : " , parsedDate.getTime(), " < ", Date.now());
			if (parsedDate == false || !(parsedDate.getTime() > Date.now())) {
				errCount++;
				showError(date, "Vous devez sélectioner une date future sous le format DD/MM/YYYY", 1);
			}

		} else { //souper

			let totalSoupers = 0;
			ddSoupersActive.forEach(s => { totalSoupers += parseInt(s.val()) });
			if (totalSoupers < 2) {
				//parseInt(nbSouper1.val()) + parseInt(nbSouper2.val()) + parseInt(nbSouper3.val()) < 2){
				errCount++;

				showError(nbSouper1, "Vous devez commander un minimum de 2 soupers");
				//showError(nbSouper2, "Vous devez commander un minimum de 2 soupers");
				//showError(nbSouper3, "Vous devez commander un minimum de 2 soupers");
			}
		}

		if (!isEmail(email.val())) {
			errCount++;
			showError(email, "Doit être une adresse email valide", 1);
		}

		if (tel.val().length < 7) {
			errCount++;
			showError(tel, "Veuillez entrer un numéro de téléphone valide", 1);
		}

		if (nom.val().length < 3) {
			errCount++;
			showError(nom, "La longueure minimale du nom est de 3 charactères", 1)
		}

		//updatePrice();

		if (errCount > 0) {
			jQuery("#paypal-btn").hide();
			jQuery("#malert").show();
		} 
		else {
			jQuery("#paypal-btn").show();
			jQuery("#malert").hide();
		}

		return errCount;
	}


	btn4.onclick = (e) => {

		console.log(e);
		nom.val(nom.val().trim());
		email.val(email.val());

		if (checkErrors() > 0) {
			e.preventDefault();
			console.log("OL, CANCELLED");
		}
	}

	///////////PAYPAL

	const CLIENT_ID = "AUqOz9CFSukH9wWUrW-QwVjCfSS5fDUGRj78uC33fLA6THXh4_jrhFMf9_UpoRgyaKTHGDQz0eLHzXOf";
	//CLIENT_ID = "AUqOz9CFSukH9wWUrW-QwVjCfSS5fDUGRj78uC33fLA6THXh4_jrhFMf9_UpoRgyaKTHGDQz0eLHzXOf"; // LIVE Nath
	// Live (test ludo ) CLIENT_ID = "AUV3YOfM10i-V4SrxvEMu8z0prHmn3DqFgozvsfKrbJpy59IqcDC0EZzTN7WzUGOKKuicfoqqfovdtJQ"; // LIVE
	// sandbox const CLIENT_ID =  "AXCaj6PlFvijgsPxzp-wnvERbNPxMfvdwawKt54Ih8nkzaLS1tWDUkXP3W-EM_BfyDqFxN7Kq_5bQ8W8"


	const souperData = {
		price: 12.34,
		name: 'Souper Nath',
		description: 'Souper pour 1 personne à emporter Vendredi le 8 Mai',
	};

	async function callPaypal() {

	}

	function getDescAchat() {
		let desc = "";
		if (isDinner()) {

			if (nbDinner.val() > 0) {
				desc += nbDinner.val() + " Dîners";
			}

		} else {

			ddSoupersActive.forEach((nbSoup, i) => {
				desc += (desc.length > 0 ? ", " : "") + (nbSoup.val() > 0 ? (nbSoup.val() + " Souper#" + (i + 1)) : "");
			})
			/*if(nbSouper1.val() > 0){
				desc = nbSouper1.val() + " Souper#1";
			}
			if(nbSouper2.val() > 0){
				desc += ", " + nbSouper2.val()+" Souper#2";
			}
			if(nbSouper3.val() > 0){
				desc += ", " + nbSouper3.val()+" Souper#3";
			}*/
		}

		return desc;
	}

	function initPaypal() {
		window.paypal
			.Buttons({
				createOrder: (data, actions) => {
					let price = getPrice();
					let order = {
						sku: 1,
						name: "Chef Nath",
						description: getDescAchat(),
						amount: {
							currency_code: 'CAD',
							value: (price + price * TAXES.tps + price * TAXES.tvq).toFixed(2),
							tax: 0.149
						},
					};
					console.log("CREATE ORDER : ", order);
					return actions.order.create({
						purchase_units: [
							order
						],
					});
				},
				onApprove: async (data, actions) => {
					const order = await actions.order.capture();
					console.log(order);
					jQuery("#button4").click();
				},
				onError: err => {
					showError(jQuery("#button4"), "Erreur avec Paypal, envoyez nous un courriel si le paiement as passé.", 2);
					console.error(err);
				},
			})
			.render("#paypal-btn");
	}

	jQuery("#button4").parent().append('<div id="paypal-btn"></div>')
	jQuery("#button4").hide();
	jQuery("#paypal-btn").hide();

	let start = Date.now();
	btn4.disabled = true
	const script = document.createElement("script");
	script.src = "https://www.paypal.com/sdk/js?client-id=" + CLIENT_ID + "&currency=CAD&locale=fr_CA";
	script.async = true;

	script.onload = function () {
		console.log("Loaded in ", Date.now() - start, "ms");
		setTimeout(() => {
			btn4.disabled = false;
			initPaypal();
		}, 1);
	}
	script.onerror = function (err) {
		console.log("Loaded in ", Date.now() - start, "ms - ", err);
		setTimeout(() => {
			console.error(err);
			showError(btn4, "Impossible de charger Paypal, contactez un technicien.", 1);
		}, 1);

	}

	document.body.appendChild(script);

	///// Prévenir l'envoie directe du formulaire
	///// ( il faut passer par paypal )	
	function cancelEnter(event) {
		if (event.keyCode == 13) {
			event.preventDefault();
			return false;
		}
	}
	jQuery(document).ready(function () {
		jQuery(window).keydown(cancelEnter);
	});

	/*
	nom.keydown(cancelEnter);
	email.keydown(cancelEnter);
	adresse.keydown(cancelEnter);
	tel.keydown(cancelEnter);
	date.keydown(cancelEnter);
	message.keydown(cancelEnter);
	*/

	setTimeout(() => {
		let start = Date.now();
		let loadedCount = 0;

		const callCal = () => {
			console.log("Loaded semantic in ", Date.now() - start, "ms");
			setTimeout(() => {
				var today = new Date();
				today.setDate(today.getDate() + (today.getHours() >= 12 ? 2 : 1));
				jQuery("#date_du_souper").parent().calendar({
					type: 'date',
					minDate: today,
					formatter: {
						date: function (date, settings) {
							if (!date) return '';
							var day = date.getDate() + '';
							if (day.length < 2) {
								day = '0' + day;
							}
							var month = (date.getMonth() + 1) + '';
							if (month.length < 2) {
								month = '0' + month;
							}
							var year = date.getFullYear();
							return day + '/' + month + '/' + year;
						}
					}
				});
			}, 1);
		}

		if (!jQuery("#date_du_souper").calendar) {
			console.warn("Need to load Calendar");

			const onScriptLoad = () => {
				console.log("loaded cal #" + loadedCount);
				if (++loadedCount >= 2)
					callCal();
			}
			const loadScript = (url, type = "script") => {
				const script = document.createElement(type);
				script.async = true;
				if (type == "script") {
					script.src = url;
					script.onload = onScriptLoad;
					script.onerror = console.error;
				} else {
					script.href = url;
					script.rel = "stylesheet";
					script.type = "text/css"
				}

				document.body.appendChild(script);
			}

			loadScript("https://chefnath.ca/libraries/cegcore2/assets/semantic-ui/semantic.min.js")
			loadScript("https://chefnath.ca/libraries/cegcore2/assets/semantic-ui/calendar/calendar.min.js")

			loadScript("https://chefnath.ca/libraries/cegcore2/assets/semantic-ui/reset.inline.min.css", "link")
			loadScript("https://chefnath.ca/libraries/cegcore2/assets/semantic-ui/site.inline.min.css", "link");
			loadScript("https://chefnath.ca/libraries/cegcore2/assets/semantic-ui/semantic.min.css", "link");
			loadScript("https://chefnath.ca/libraries/cegcore2/assets/semantic-ui/text.css", "link");
			loadScript("https://chefnath.ca/libraries/cegcore2/assets/semantic-ui/fixes.semantic.css", "link");
			loadScript("https://chefnath.ca/libraries/cegcore2/assets/semantic-ui/calendar/calendar.min.css", "link");
			//<link href="https://chefnath.ca/libraries/cegcore2/assets/semantic-ui/reset.inline.min.css" rel="stylesheet" type="text/css" />
		}
		else{
			callCal();
		}
	}, 250);

</script>