body{
    font-size: 1.5rem !important;
}
.prix, #total, #soustotal, #tps, #tvq{
    display:inline;
}

div.Invalide{
    color:red;
}
div.boiteContainer{
    display:inline;
}

.nav-link.active{
    background-color: #e94300!important;
}

.grandEtRouge{
    font-size:20px;
    color:  #e94300!important;
}

.successMsg, .errorMsg{
    opacity:0;
    transition: all 0.5s;
    border: solid 1px black;
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
    font-weight:bold;
}
.successMsg{
    border-color: hsl(114, 90%, 36%);
}
.errorMsg{
    border-color: hsl(0, 90%, 36%);
}

.successMsg.active, .errorMsg.active{
    opacity: 1;
}